header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1001;
    top: 0;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

header li {
    list-style: none;
}

.header-wrapper {
    width: 100%;
    position: relative;
}

.header-wrapper .logo-container img {
    height: 80px;
}

.hamberger-container {
    display: none;
}

header .logo-container {
    padding: 10px;
    float: left;
    cursor: pointer;
}

.menu-tab {
    padding: 10px;
    color: #000;
    clear: both;
    height: 28px;
}

.menu-tab a {
    text-decoration: none;
    color: white;
}

.menu-tab .group {
    display: inline-block;
}

.menu-tab .group-1 {
    display: none;
}

.menu-tab .group li {
    float: left;
    font-size: 14px;
}

.header-contact {
    color: #000;
    padding: 35px 10px;
    float: right;
}

.header-contact li {
    padding: 0 5px;
    margin: 0 5px;
    border: 1px solid #d4d3d3;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    float: left;
}

.header-contact li i {
    width: 25px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}

.header-contact li span {
    border-left: 1px solid #d4d3d3;
    padding: 0 15px;
}

.header-contact a {
    text-decoration: none;
    color: black;
}

.menu-tab .group-2 li {
    padding: 5px 15px;
    font-weight: 500;
    cursor: pointer;
}

.menu-tab .group-2 li.active {
    color: #db1174;
}

.menu-tab .group-2 li:hover {
    background: rgba(0, 167, 53, 0.75);
    color: white;
}

.express-button {
    position: relative;
    float: right;
}

.schedule-appointment {
    position: relative;
    float: right;
    background: #db1174;
    padding: 10px 28px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.schedule-appointment-mobile {
    display: none;
}

header .sub-menu {
    display: none;
    margin-top: 10px;
    font-size: 11px;
}

header .sub-menu .sub-menu-item {
    padding: 5px 0;
    clear: both;
    width: 100%;
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 1024px) {
    .hamberger-container {
        display: block;
    }
    .menu-tab {
        display: none;
        position: fixed;
        width: 250px;
        overflow-y: auto;
        height: 100%;
        background: black;
        right: 0;
        top: 0;
        z-index: 10;
        padding-bottom: 40px;
    }
    .menu-tab .group {
        color: white;
    }
    .header-contact {
        display: none;
    }
    .menu-tab .group-1 {
        display: inline-block;
    }
    .menu-tab .group-1 ul li {
        border: 1px solid #d4d3d3;
        border-radius: 3px;
        font-size: 11px;
        cursor: pointer;
        float: left;
        text-align: center;
        margin: 5px 10px 5px 0;
        padding: 10px;
    }
    .menu-tab .group-1 li i {
        color: white;
        text-decoration: none;
        width: 15px;
    }
    .menu-tab .group-2 {
        padding: 20px 0;
    }
    .menu-tab .group-2 li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: normal;
        width: 100%;
        padding: 8px 0;
    }
    .schedule-appointment {
        display: none;
    }
    .schedule-appointment-mobile {
        position: relative;
        background: #db1174;
        padding: 10px 40px;
        color: white;
        cursor: pointer;
        display: block;
        float: left;
        margin-bottom: 40px;
    }
    .hamberger-container {
        position: relative;
        z-index: 9;
        margin-top: 10px;
        min-width: 50px;
        bottom: 0;
        padding: 10px;
        top: 0;
        right: 0;
    }
    .ham-berger {
        width: 45px;
        height: 45px;
        display: block;
        position: absolute;
        padding: 0;
        transition: all 0.4s;
        -webkit-backface-visibility: hidden;
        background: #db1174;
        padding: 10px;
        color: #fff;
        border: 1px solid #db1174;
        border-radius: 100%;
        right: 0;
        margin: 10px;
    }
    .header-overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    header .sub-menu {
        display: none;
        margin: 10px 10px 0;
        font-size: 11px;
    }
    header .sub-menu .sub-menu-item {
        padding: 5px 0;
        clear: both;
        width: 100%;
        font-size: 11px;
    }
}

footer {
    position: relative;
    -webkit-box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.4);
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.footer-wrapper {
    width: 90%;
    margin: auto;
    display: inline-block;
    padding: 50px 0 10px;
    position: relative;
    left: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer .counties li {
    display: inline-block;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

footer .county-cities {
    display: inline-block;
    padding: 12px;
    text-align: left;
}

footer .county-cities .col {
    padding: 10px;
    float: left;
    color: rgba(0, 0, 0, 0.5);
}

footer .county-cities .col {
    font-size: 10px;
    text-justify: left;
}

footer .county-cities .col li:first-child {
    font-size: 14px;
    padding: 0 0 2px;
    margin-bottom: 5px;
}

.footer-wrapper .footer-logo-container img {
    height: 80px;
    margin-left: -20px;
}

.coloumn {
    width: 20%;
    display: inline-block;
    float: left;
    padding: 0 20px;
}

.col-header {
    border-bottom: 1px solid #d4d3d3;
    padding: 0 45px 10px 0;
    margin: 0 0 5px;
}

.coloumn .content {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
}

.coloumn .social-connection li {
    display: inline-block;
    float: left;
    padding: 3px;
    cursor: pointer;
}

.coloumn .social-connection li i {
    border: 1px solid #db1174;
    border-radius: 3px;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #db1174;
}

footer .company-text {
    padding-right: 5px;
    text-align: justify;
    cursor: pointer;
}

.nav-links li {
    font-size: 11px;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

footer .developer {
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 10px;
    background: #db1174;
}

footer .footer-cities {
    padding: 0 20px;
    text-align: center;
}


@media (min-width: 320px) and (max-width: 1024px) {
    .footer-wrapper {
        width: 90%;
        left: 5%;
        padding: 30px 0px;
        margin: auto;
    }
    .footer-wrapper .coloumn {
        width: 100%;
        padding: 10px 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

ul {
    padding: 0;
    margin: 0;
}

#main-content {
    position: relative;
    width: 90%;
    margin: 170px auto 50px;
}

#main-content .text-natural {
    color: #db1174;
    font-weight: bold;
}

#main-content .text-md {
    color: #ae459a;
    font-weight: bold;
}

.show {
    display: block !important;
    animation-duration: 0.3s;
}

.hide {
    display: none !important;
}

.disable {
    cursor: none;
    opacity: 0.4;
}

@media (min-width: 300px) and (max-width: 1024px) {
    #main-content {
        margin-top: 120px;
    }
}