
<div class="locate-us">
	<h1> Suwanee </h1>
	<div id="address-map" class="map"></div>
	<div class="address-detail">

		<div>
			<img src="/images/logo.png" />
		</div>
		<h3> Jalpa Dance Academy </h3>
		<div>
			<b>Suwanee:</b>
			<br/> 6365 Read Road
			<br/> Suwanee, GA 30024
		</div>
		<div>
			If you have any question, please feel free to contact us
		</div>
		<br/>
		<div>
			Email :
			<a href="mailto:jalpa.dance.academy@gmail.com">
				jalpa.dance.academy@gmail.com
			</a>
		</div>
		<div>
			Phone :
			<a href="tel:(678) 481-7207">
				(678) 481-7207
			</a>
		</div>	
	</div>
</div>

<div class="locate-us">
	<h1> Buford </h1>
	<div id="address-map-1" class="map"></div>
	<div class="address-detail">

		<div>
			<img src="/images/logo.png" />
		</div>
		<h3> Jalpa Dance Academy </h3>
		<div>
			<b>Buford:</b>
			<br/> 4296 Old Suwanee Road
			<br/> Suite 4 Buford, GA 30518
		</div>
		<br/>
		<div>
			If you have any question, please feel free to contact us
		</div>
		<br/>
		<div>
			Email :
			<a href="mailto:jalpa.dance.academy@gmail.com">
				jalpa.dance.academy@gmail.com
			</a>
		</div>
		<div>
			Phone :
			<a href="tel:(678) 481-7207">
				(678) 481-7207
			</a>
		</div>
	</div>
</div>

<script>
	function initMap() {
		var address1 = { lat: 34.0784978, lng: -84.1347716 },
			address2 = { lat: 34.0845577, lng: -84.0308172 }

		var map = new google.maps.Map(document.getElementById('address-map'), {
			zoom: 10,
			center: address1
		});

		var map1 = new google.maps.Map(document.getElementById('address-map-1'), {
			zoom: 10,
			center: address2
		});

		var marker = new google.maps.Marker({
			position: address1,
			map: map
		});
		var marker2 = new google.maps.Marker({
			position: address2,
			map: map1
		})
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-OJo_BS_LEeMdzIwq30RE7ZUnE6uuDW4&callback=initMap">
</script>