<div class="contact-us">

	<div class="contact-us-description">
		<h1> Contact Us </h1>
		<div class="sub-text">
			For a FREE TELEPHONE call with Dr. Patel, please click the button below and fill out the information form.

			</br>
			<div class="schedule-now">
				<a href="/get-info">
					FREE Consultation
				</a>
			</div>
		</div>

	</div>

	<div class="contact-us-description">
		<h1> Standard Fee Schedule </h1>
		<div class="sub-text">
			<b>Initial Office Visit:</b>
			$165
			<br/> Visit includes a comprehensive medical examination and discussion of your diagnosis and treatment options.

			<br/>
			<br/>
			<b>Follow-up Office Visit:</b>
			$150
			<br/> Visit includes a detailed discussion of your ongoing treatment plan with medical cannabis.
			<br/>

		</div>

	</div>

</div>

<div class="locate-us">
	<h1> New Port Richey </h1>
	<div id="address-map" class="map"></div>
	<div class="address-detail">

		<div>
			<img src="/images/logo.png" />
		</div>
		<h3> Natural Clinic MD </h3>
		<div>
			<b>New Port Richey:</b>
			<br/> 4766 Rowan Rd
			<br/> New Port Richey FL 34653
		</div>
		<div>
			If you have any question, please feel free to contact us
		</div>
		<br/>
		<div>
			Email :
			<a href="mailto:jalpa.dance.academy@gmail.com">
				jalpa.dance.academy@gmail.com
			</a>
		</div>
		<div>
			Phone :
			<a href="tel:727-753-8861">
				727-753-8861
			</a>
		</div>
		<div>
			Fax :
			<a href="tel:888-849-6158">
				888-849-6158
			</a>
		</div>
	</div>
</div>

<div class="locate-us">
	<h1> Rockledge </h1>
	<div id="address-map-1" class="map"></div>
	<div class="address-detail">

		<div>
			<img src="/images/logo.png" />
		</div>
		<h3> Natural Clinic MD </h3>
		<div>
			<b>Rockledge:</b>
			<br/> 577 Barnes Blvd #400
			<br/> Rockledge, FL 32955
		</div>
		<br/>
		<div>
			If you have any question, please feel free to contact us
		</div>
		<br/>
		<div>
			Email :
			<a href="mailto:jalpa.dance.academy@gmail.com">
				jalpa.dance.academy@gmail.com
			</a>
		</div>
		<div>
			Phone :
			<a href="tel:321-405-2090">
				321-405-2090
			</a>
		</div>
		<div>
			Fax :
			<a href="tel:888-849-6158">
				888-849-6158
			</a>
		</div>
	</div>
</div>

<script>
	function initMap() {
		var address1 = { lat: 28.228645, lng: -82.690326 },
			address2 = { lat: 28.2941081, lng: -80.7205293 }

		var map = new google.maps.Map(document.getElementById('address-map'), {
			zoom: 10,
			center: address1
		});

		var map1 = new google.maps.Map(document.getElementById('address-map-1'), {
			zoom: 10,
			center: address2
		});

		var marker = new google.maps.Marker({
			position: address1,
			map: map
		});
		var marker2 = new google.maps.Marker({
			position: address2,
			map: map1
		})
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-OJo_BS_LEeMdzIwq30RE7ZUnE6uuDW4&callback=initMap">
</script>