<div class="success-overlay">
	<h4> We have received your request. Our team will get back to you.
		<br> Redirecting you to homepage
	</h4>
</div>
<div class="get-info">

	<h4>
		Free telephone consultation available. Please fill out the form below if you think you might qualify for treatment with medical
		cannabis. Dr. Patel will call you within 2 to 3 days to gather more information about your medical condition and determine
		whether medical marijuana might be right for you.
	</h4>

	<form class="form-container">

		<div class="input-ele">
			<label>Name</label>
			<input type="text" id="name" required/>
		</div>

		<div class="input-ele">
			<label>Email</label>
			<input type="email" id="email" required/>
		</div>

		<div class="input-ele">
			<label>Phone</label>
			<input type="text" pattern="[0-9]{10}" id="phone" required/>
		</div>

		<div class="input-ele">
			<label>
				What county do you live in Florida ?
			</label>
			<br/>
			<div class="radio-container">
				<% _.each(counties, function(county) { %>
					<input type="radio" name="residence" value="{{ county }}" id="radio-{{ county }}" />
					<label for="radio-{{ county }}">{{ county }}</label>
					<br/>
					<% }); %>
			</div>
			<input type="text" name="Other County" placeholder="Other County" id="other-county">
		</div>

		<div class="input-ele">
			<label>
				Have you received previous treatment for your condition?
			</label>
			<br/>
			<div class="radio-container">
				<label for="yes-treatment">Yes</label>
				<input type="radio" name="treatment" value="Yes" id="yes-treatment" />
				<label for="no-treatment">No</label>
				<input type="radio" name="treatment" value="No" id="no-treatment" />
			</div>
		</div>

		<div class="input-ele">
			<label>
				Where did you hear about us?
			</label>
			<br/>
			<div class="radio-container">

				<input type="checkbox" name="how" value="Internet" id="internet" />
				<label for="internet">Internet search</label>
				<br/>

				<input type="checkbox" name="how" value="Friends" id="friends" />
				<label for="friends">Friends or family</label>
				<br/>

				<input type="checkbox" name="how" value="Ad" id="ad" />
				<label for="ad">Advertisement</label>
				<br/>

				<input type="checkbox" name="how" value="News" id="news" />
				<label for="news">Newspaper story</label>
				<br/>

				<input type="checkbox" name="how" value="Other" id="other" />
				<label for="other">Other</label>
				<br/>

				<input type="text" name="Other condition" placeholder="Other Source" id="other-condition">

			</div>
		</div>

		<div class="input-ele">
			<label> What is your medical condition? </label>
			<select>
				<option value="ALS">Amyotrophic Lateral Sclerosis (ALS or Lou Gehrig’s disease)</option>
				<option value="Cancer">Cancer</option>
				<option value="Crohn's disease">Crohn's disease</option>
				<option value="Chronic muscle spasms">Chronic muscle spasms</option>
				<option value="Chronic Nonmalignant Pain">Chronic Nonmalignant Pain</option>
				<option value="glaucoma">Glaucoma</option>
				<option value="epilepsy">Epilepsy</option>
				<option value="HIV/AIDS">HIV/AIDS</option>
				<option value="Multiple sclerosis">Multiple Sclerosis</option>
				<option value="Parkinson’s disease">Parkinson’s disease </option>
				<option value="PTSD">Post Traumatic Stress Disorder (PTSD) </option>
				<option value="Seizures">Seizures</option>
				<option value="others">Other debilitating conditions</option>
			</select>
		</div>
		<button type="submit"> Request A Free Phone Consultation </button>
	</form>

</div>