<div class='homepage'>

	<marquee>This text will scroll from right to left</marquee>

	<div class="image-container">

		<img src="/images/main.jpeg" />

	</div>

	<div class="homepage-text">

		<span>Site is under construction !!!</span>
		<br/>
		<span> Reach us on : </span>
		<br/> 
		<span>
			<a href="mailto:Jalpa.dance.academy@gmail.com">
				jalpa.dance.academy@gmail.com
			</a>
		</span>
		<br/> 
		<span>
			<a href="tel:(678) 481-7207">
				(678) 481-7207
			</a>
		</span>

	</div>

</div>

