<div class='homepage'>

	<div class="image-container">

		<img src="/images/main.jpeg" />

	</div>

	<div class="homepage-text">

		<span class="dance-text">Dance is a Poem</span>

		<span>of which each movement is a word.</span>

	</div>

</div>

