<div class='homepage'>

	<marquee>
		<h4>We are updating our Website. Please reach us for New Registration via Email 
			<a href="mailto:jalpa.dance.academy@gmail.com">
				jalpa.dance.academy@gmail.com
			</a> 
			or Call us on 
			<a href="tel:(678) 481-7207">
					(678) 481-7207
			</a>
		</h4>
	</marquee>

	<div class="image-container">

		<img src="/images/main.jpeg" />

	</div>

</div>

