<!DOCTYPE html>
<html>
<head>
    <title itemprop='name' >Jalpa Dance Academy</title>

    <meta charset="utf-8">
    <meta http-equiv = 'Content-type' content = 'text/plain; charset=x-user-defined'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="purple-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    
    <meta name='description' content='Jalpa Dance Academy'/>

    <meta name="keywords" itemprop="keywords" 
        content="Dance Academy, Indian Dances, Bharatnatyam , Chicago Dance Academy, Bollywood Dances, Indian Traditional Dances, Chicago Indian Traditional Dances"/>

    <link rel='canonical' href='' itemprop='url' />

    <link rel="icon" sizes="192x192" href="/favico.ico" data-reactid="24">

    <meta name="theme-color" content="#db1174">
    <meta name="google-site-verification" content="5onw29QzEFUh_wayOn_9EdxfzH0csFOR4OGroaIHb-k" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    

    <!-- Facebook OG Tag 
    <meta property="og:title" content="The Natural Clinic, MD" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.naturalclinicmd.com/images/logo.png" />
    <meta property="og:url" content="http://www.naturalclinicmd.com" />
    <meta property="og:site_name" content="The Natural Clinic, MD" />
    -->

    <!-- Twitter Tag 
    <meta name="twitter:card" content="Medicine" />
    <meta name="twitter:site" content="@NaturalClinicMD" />
    <meta name="twitter:title" content="Tanmay Patel MD | Medical Marijuana" />
    <meta name="twitter:description" content="Marijuana, Cannabis, Medical Marijuana ,Medical cannabis, Provider ,Physicians, Treatment center,  Clinic , Cannabies legalized , FREE Marijuana physician, Medical Marijuana physician, Pasco, Trinity, Hudson, Holiday, Florida" />
    <meta name="twitter:image" content="http://www.naturalclinicmd.com/images/logo.png" />
    <meta name="twitter:url" content="www.naturalclinicmd.com" /> 
    -->

    <script type="text/javascript">
    
        function loadScript() {
        
            // No need of adding live reload script on live site
            if(location.hostname === 'www.jalpadance.com') {
                return
            }

            var lrHost = location.protocol + '//' + location.hostname + ':35729';
            var s = document.createElement('script');
            s.async = true;
            s.setAttribute('src', lrHost + '/livereload.js');
            document.body.appendChild(s);
        }

        window.onload = loadScript;
    </script>

    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
        }

        .logo-container {
            padding: 100px 0 20px;
        }

        .overlay-modal {
            position: fixed;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            width: 100%;
            height: 100%;
            color: white;
        }

    </style>

    <link rel="icon" 
      type="image/png" 
      href="/favico.ico">
</head>
<body>

    <!-- Overlay Modal to show bootstraping -->
    <div class="overlay-modal">
            <a href="/">        
                <div class="logo-container">
                    <img src="/images/logo.png" style="height:80px;"/>
                </div>
            </a>        
            <h1>
                Jalpa Dance Academy
                <br/>Florida
            <h1>
            <h2>
                Jalpa Dance Academy
            </h2>
        
    </div>
    <div class="content">

    </div>

    <!-- Start content loading -->
    <script type="text/javascript" src='/js/vendor/requirejs/require.js'
     data-main='/config.js'></script>
    <script type="text/javascript" src='/js/main.js'></script>
    <script type="text/javascript" src='/js/font-awesome.js'></script>
    <!-- content loading end -->

</body>
</html>