<div class="patients-tab">
	<div class="info-text">
		Medical Uses
	</div>

	<div class="question-type">

		<div class="header-text">
			What are the medical uses for THC?
		</div>

		<div class="sub-header-text">
			THC increases appetite and reduces nausea. This is important for patients with certain medical
            conditions or those undergoing chemotherapy. THC can also decrease pain, inflammation, and
            problems with muscle control.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			Who determines what type of medical cannabis I need?
		</div>

		<div class="sub-header-text">
            Dr. Patel will determine what treatment is best for you based on your diagnosis, medical history,
            and symptoms.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            Is medical marijuana safely manufactured and inspected for purity in Florida?
		</div>

		<div class="sub-header-text">
            Yes. The state has established rules to make sure all medical cannabis is properly manufactured
            and inspected.
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Can medical marijuana have negative side effects?   
		</div>

		<div class="sub-header-text">
            Sometimes. Dr. Patel will carefully monitor your ongoing health situation to make sure medical
            cannabis is a good choice for you.
		</div>
	</div> 


    <div class="question-type">

            <div class="header-text">
                Is medical marijuana as potentially addictive and destructive to my health as opioid pain
                medications?
            </div>

            <div class="sub-header-text">
                No. In fact, research shows that medical marijuana can help patients reduce use of dangerous
                opiods.
            </div>
    </div>

</div>