<div class="patients-tab">
	<div class="info-text">
        Terms and Types
	</div>

	<div class="question-type">

		<div class="header-text">
			Are “medical marijuana” and “medical cannabis” the same thing?
		</div>

		<div class="sub-header-text">
			Yes. Cannabis is the medical term for marijuana.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			What are cannabinoids?
		</div>

		<div class="sub-header-text">
			Cannabinoids are chemicals found in cannabis. THC and CBD are the two cannabinoids used for
            medical treatment.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            Do cannabinoids get people “high”?
		</div>

		<div class="sub-header-text">
			THC is the mind-altering ingredient in marijuana that can make people “high.” CBD does not
            have this effect on patients.
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Does the human body also naturally produce cannabinoids?
		</div>

		<div class="sub-header-text">
            Yes. These chemicals improve concentration, pain tolerance, memory and other important daily
            functions.
		</div>
	</div> 


    <div class="question-type">

            <div class="header-text">
                Are cannabinoids dangerous?
            </div>

            <div class="sub-header-text">
                When misused, these chemicals can have serious side effects. This is why patients must 
                be under a physician's supervision.
            </div>
    </div>

    <div class="question-type">

            <div class="header-text">
                What do the terms indica, sativa, and hybrid mean?
            </div>

            <div class="sub-header-text">
                Indica and sativa are different types of cannabis. A hybrid is a combination of the two types.
            </div>
    </div>  

    <div class="question-type">

            <div class="header-text">
                What is the difference between indica and sativa strands of cannabis?
            </div>

            <div class="sub-header-text">
                Indica cannabis, which has a high level of THC, tends to make people feel relaxed. Sativa
                cannabis, which has a high level of CBD, tends to make people feel energized. (Hybrids fall
                somewhere in the middle.)
            </div>
    </div>
</div>