<div class="patients-tab">
    <div class="info-text">
        Forms
    </div>

    <div class="question-type">

        <div class="header-text">
            Process of Obtaining Medical Marijuana Card in Florida
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/ommu-patient.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Release of Confidential Information
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/release-of-confidential-information.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Applying for Medical Marijuana Card - Online
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/online-apply.pdf">
                Download
            </a>
        </div>

    </div>

        <div class="question-type">

        <div class="header-text">
            Applying for Medical Marijuana Card - Paper / Offline
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/offline-apply.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Natural Clinic MD Intake Form
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/gen-form.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            FL Dept Of Health Consent Form for Medical Marijuana Use
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/consent-form.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Patient Registry User Guide
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/patient-registry-user-guide.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Patient Application Form for Medical Marijuana Card Use
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/patient-application.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Permission Of Treatment
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/permission-of-treatment.pdf">
                Download
            </a>
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            Dispensary List
        </div>

        <div class="sub-header-text">
            <a target="_blank" href="/forms/dispensary-list.pdf">
                Download
            </a>
        </div>

    </div>

</div>