<div class="patients-tab">
	<div class="info-text">
        Legal Representative
	</div>

	<div class="question-type">

		<div class="header-text">
			Can I get medical marijuana for another person?
		</div>

		<div class="sub-header-text">
			Only if you are that person’s legal representative as defined by the state of Florida.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			What does it mean to be a “legal representative” in Florida?
		</div>

		<div class="sub-header-text">
			To get medical marijuana for another person you must be one of the following:

            <ul>
				<li>The parent of a patient under the age of 18.</li>
                <li>The legal guardian of a patient under the age of 18.</li>
                <li>The legal health care surrogate for an adult patient</li>
                <li>The legal power of attorney for an adult patient (with authorization to make health care decisions).</li>
            </ul>
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            What sections of Florida law explain “health care surrogate” and “power of attorney”?
		</div>

		<div class="sub-header-text">
			<ul>
				<li>Health care surrogate—section 744.3215(4), Florida Statutes</li>
                <li>Power of attorney—section 765.113, Florida Statutes</li>
            </ul>
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Do I need to register with the state and get a Compassionate Use Registry ID card to get
            medical marijuana for another person?
		</div>

		<div class="sub-header-text">
            Yes. The state will need your name and the name of the patient you represent.
		</div>
	</div> 
</div>