<div class="patients-tab">
	<div class="info-text">
        Patient Eligibility
	</div>

	<div class="question-type">

		<div class="header-text">
			Does Dr. Patel treat both adult and pediatric patients?
		</div>

		<div class="sub-header-text">
			No. Unfortunately, Dr. Patel only treats adult patients above the age of 18.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			Can medical marijuana be prescribed for all health conditions?
		</div>

		<div class="sub-header-text">
			No. Only certain medical conditions qualify for treatment under state law.
		</div>

	</div>

    <div class="question-type">

		<div class="header-text">
			What do I have to bring during my first visit?
		</div>

		<div class="sub-header-text">
            To ensure a timely and complete evaluation by Dr. Patel, please bring the following:
            <ul>
                <li> State issued identification card from the state of Florida </li>
                <li> Complete medical records from Primary care physicians/Specialist within past year </li>
            </ul>
            
            
        </div>

	</div>

	<div class="question-type">

		<div class="header-text">
            What medical conditions qualify for cannabis treatment?
		</div>

		<div class="sub-header-text">

			<ul>

                <li value="ALS">Amyotrophic Lateral Sclerosis (ALS or Lou Gehrig’s disease)</li>
                <li value="Cancer">Cancer</li>
                <li value="Crohn's disease">Crohn's disease</li>
                <li value="Chronic muscle spasms">Chronic muscle spasms</li>
                <li value="Chronic Nonmalignant Pain">Chronic Nonmalignant Pain</li>
                <li value="glaucoma">Glaucoma</li>
                <li value="epilepsy">Epilepsy</li>
                <li value="HIV/AIDS">HIV/AIDS</li>
                <li value="Multiple sclerosis">Multiple Sclerosis</li>
                <li value="Parkinson’s disease">Parkinson’s disease </li>
                <li value="PTSD">Post Traumatic Stress Disorder (PTSD) </li>
                <li value="Seizures">Seizures</li>
                <li value="others">Other debilitating conditions</li>
			</ul>
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Does Dr. Patel diagnose medical marijuana patients with these conditions?
		</div>

		<div class="sub-header-text">
            Yes, Dr. Patel can diagnose patients with the above conditions but he may request records from
            your physicians.
		</div>
	</div> 


    <div class="question-type">

            <div class="header-text">
                Do I need to try other treatments for my condition before I can try medical marijuana?
            </div>

            <div class="sub-header-text">
                Yes. Florida law requires that you first try traditional medical treatments to see if they help your
                condition.
            </div>
    </div>

    <div class="question-type">

            <div class="header-text">
                Can mental health problems such as depression or anxiety be treated with medical
                cannabis?
            </div>

            <div class="sub-header-text">
                It depends. Dr. Patel must evaluate each case to determine whether a patient qualifies for
                cannabis-based treatment.
            </div>
    </div>

        <div class="question-type">

            <div class="header-text">
                Is there any other conditions which may qualify me for medical cannabis?
            </div>

            <div class="sub-header-text">
                It depends upon the condition and how they interfere with your activities of daily
                living. Following conditions may qualify you for medical cannabis.
                <ul>
                    <li value="Cancer">Anxiety</li>
                    <li value="Crohn's disease">Anorexia</li>
                    <li value="epilepsy">Arthritis</li>
                    <li value="glaucoma">Back Pain</li>
                    <li value="HIV/AIDS">Cachexia (Wasting Syndrome)</li>
                    <li value="Seizures">Cyclical Vomiting Syndrome</li>
                    <li value="Crohn's disease">Diabetes</li>
                    <li value="Crohn's disease">Hepatitis C</li>
                    <li value="Crohn's disease">Irritable Bowel Syndrome (with chronic abdominal pain)</li>
                    <li value="Crohn's disease">Lyme Disease</li>
                    <li value="Crohn's disease">Migraine</li>
                    <li value="Crohn's disease">Muscle Spasms</li>
                    <li value="Crohn's disease">Muscular Dystrophy</li>
                    <li value="Crohn's disease">Severe &amp; Chronic Pain</li>
                    <li value="Crohn's disease">Severe Nausea</li>
                    <li value="Crohn's disease">Sickle Cell Anemia</li>
                    <li value="Crohn's disease">Spasticity</li>
                    <li value="Crohn's disease">Any Terminal Condition</li>
                    <li value="Crohn's disease">Other Debilitating Conditions</li>
                </ul>            
            </div>
    </div>  

    <div class="question-type">

            <div class="header-text">
                Know More .... 
            </div>

            <div class="sub-header-text">
               For more information, please click on 
                <a target="_blank"
                    href="http://www.floridahealth.gov/programs-and-services/office-of-medical-marijuana-use/patients/index.html">
                    this link
                </a>
            </div>
    </div>
</div>