<div class="patients-tab">
    <div class="info-text">
        Treatment Costs
    </div>

    <div class="question-type">

        <div class="header-text">
            How much does the initial consultation with Dr. Patel cost?
        </div>

        <div class="sub-header-text">
            It is <b>FREE</b>. Dr. Patel will speak with you on the phone to determine if you can be eligible for
            medical marijuana.
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            How much do office visits cost?
        </div>

        <div class="sub-header-text">
            Initial office visit consultation charge is $165.
        </div>

    </div>

    <div class="question-type">

        <div class="header-text">
            How much does medical marijuana cost?
        </div>

        <div class="sub-header-text">
           It depends. Different types and strengths of medical cannabis have different prices.
        </div>
    </div> 


    <div class="question-type">

            <div class="header-text">
               Does health insurance cover the costs of office visits or medical marijuana?
            </div>

            <div class="sub-header-text">
                No. These expenses must be paid out of pocket by the patient or their legal representative.
            </div>
    </div>

</div>