<div class="patients-tab">
	<div class="info-text">
		How to Register
	</div>

	<div class="question-type">

		<div class="header-text">
			Do I need to register with the state of Florida to get medical marijuana?
		</div>

		<div class="sub-header-text">
			Yes. All medical marijuana patients need to obtain a Compassionate Use Registry ID card from
            the state.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			Do I need to register if I am the legal representative for the patient?
		</div>

		<div class="sub-header-text">
			Yes. The state will need your name and the name of the patient you represent.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            How much does it cost to apply for a Compassionate Use Registry ID card?
		</div>

		<div class="sub-header-text">
			The state charges an application fee of $75. (You also need to submit a full-face, passport-type
            color photograph taken within the last 90 days.)
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			How do I apply for a Compassionate Use Registry ID card?
		</div>

		<div class="sub-header-text">
            You can either apply online or by mail. Application information is located
            <a href="http://www.floridahealth.gov/programs-and-services/office-of-compassionate-use/registry-id-cards/index.html">
                here.
            </a>
		</div>
	</div> 


    <div class="question-type">

            <div class="header-text">
                How long will it take to get my ID card?
            </div>

            <div class="sub-header-text">
               About 3 weeks if you apply online. It takes a few extra days if you apply by mail.
            </div>
    </div>

</div>