<div class="patients-tab">
	<div class="info-text">
		Filling My Prescription
	</div>

	<div class="question-type">

		<div class="header-text">
			Where do I fill my prescription for medical marijuana?
		</div>

		<div class="sub-header-text">
			At a special clinic owned by a licensed, state-approved dispensing organizations. (No one else is allowed to dispense medical marijuana).
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			How do I locate a dispensing clinic near where I live?
		</div>

		<div class="sub-header-text">
			You can click here to locate a dispensary near your home. (You may also be able to order online or over the phone.)
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            How much medical cannabis can I get at one time?
		</div>

		<div class="sub-header-text">
			You can receive up to a 70-day supply at a time. 
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Can I get refills on my prescription?
		</div>

		<div class="sub-header-text">
           	Yes. State law allows you to receive two 70-day refills on your original prescription. After that,
			you must visit Dr. Patel again to be re-certified as a medical marijuana patient.
		</div>
	</div> 

</div>