<div class="patients-tab">
	<div class="info-text">
		Getting My Prescription
	</div>

	<div class="question-type">

		<div class="header-text">
			Can any Florida-licensed physician prescribe medical cannabis?
		</div>

		<div class="sub-header-text">
			No. Only physicians who complete a special course offered by the state are allowed to prescribe
            medical cannabis.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			Can I get medical marijuana on my own without seeing a physician?
		</div>

		<div class="sub-header-text">
			No. State law requires that you first see a specially trained physician like Dr. Patel.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            Can I get a prescription for medical cannabis the first time I see Dr. Patel?
		</div>

		<div class="sub-header-text">
			Yes, if you medically qualify under state law. (A 90-day waiting period is no longer required
            before you can get your first prescription.)
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Is my prescription information entered into the state medical marijuana database?
		</div>

		<div class="sub-header-text">
           Yes. State law requires that all patient and medication information be entered into the Florida Department of Health database. 
		</div>
	</div> 

</div>