<div class="patients-tab">
	<div class="info-text">
		Policy Issues
	</div>

	<div class="question-type">

		<div class="header-text">
			Is cannabis treatment regulated by the U.S. Food and Drug Administration (FDA)?
		</div>

		<div class="sub-header-text">
			No. But the FDA has approved two medications that contain cannabinoids, the major chemical in medical marijuana.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			Have other states legalized the use of medical cannabis?
		</div>

		<div class="sub-header-text">
			Yes. Currently 28 states and the District of Columbia allow marijuana use for medical purposes.
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
            Have other countries legalized the use of medical cannabis?
		</div>

		<div class="sub-header-text">
            Yes. Canada, Israel, Germany, Finland, and Italy are among the growing number of nations that permit medical marijuana.
		</div>

	</div> 

	<div class="question-type">

		<div class="header-text">
			Can I smoke marijuana or grow my own marijuana?
		</div>

		<div class="sub-header-text">
           No. Both activities are prohibited by Florida law.
		</div>
	</div> 

</div>