<div class="patients-tab">

	<div class="info-text">
		Research Information
	</div>

    <div class="question-type">

		<div class="header-text">
			  
			 	60 Peer-Reviewed Studies on Medical Marijuana
			
		</div>

		<div class="sub-header-text">
            <p>
                <a href="https://medicalmarijuana.procon.org/view.resource.php?resourceID=000884">Results of 60 scientific research studies</a> 
				conducted between 1990 and 2014 that examine the impact of medical marijuana on various medical and mental health conditions.
            </p>

            <p>
                NIH Research on Marijuana and Cannabinoids
            </p>

            <p>
                Details federal research, funded at more than $100 million per year, on the health benefits of medical cannabis.
            </p>

            <p>
                Marijuana as Medicine
            </p>

            <p>
                Recent information from the federal government on medical uses of cannabis
            </p>
		</div>

	</div>

  

	<div class="question-type">

		<div class="header-text">
			Do Medical Marijuana Laws Reduce Addiction and Deaths Related to Pain Killers?
		</div>

		<div class="sub-header-text">
            <a href="https://www.rand.org/pubs/external_publications/EP67480.html">
			Report from the prestigious RAND Corporation research organization.
			</a>
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			After Medical Marijuana Legalized, Medicare Prescriptions Drop For Many Drugs
		</div>

		<div class="sub-header-text">
			<a target="_blank" href="https://www.npr.org/sections/health-shots/2016/07/06/484977159/after-medical-marijuana-legalized-medicare-prescriptions-drop-for-many-drugs">
				National Public Radio story discussing a study in the prestigious Health Affairs academic journal.
			</a>
		</div>

	</div>

	<div class="question-type">

		<div class="header-text">
			Opioid Use Lower In States That Eased Marijuana Laws
		</div>

		<div class="sub-header-text">
			<a target="_blank" href="https://www.npr.org/sections/health-shots/2018/04/02/598787768/opioid-use-lower-in-states-that-eased-marijuana-laws">
				New research suggest​s​ medical marijuana ​can reduce the opioid drug epidemic ravaging the United States.
			</a>
		</div>

	</div>

</div>