<div class="team-tab" itemscope itemtype="http://schema.org/Physician">

    <div class="doc-image">
        <img itemprop="image" src="/images/tanmay.jpg" />
    </div>

    <div class="team-text-wrapper">
        <h3 itemprop="name">
            Tanmay Patel, MD
        </h3>

        <p itemprop="description">

            Tanmay Patel, MD is a board
            
            <span itemprop="medicalSpecialty" itemscope itemtype="https://schema.org/medicalSpecialty">
                 <span itemprop="description"> certified internist </span> 
            </span>     
            with over 15 years of clinical
            experience. Throughout his career he has served and treated many patients in
            pain and with chronic debilitating diseases. Recent Legalization of Medical
            Cannabis in Florida now provided another treatment options for these patients.
            Dr. Patel compassion and expertise has been the impetus for 
                <span itemscope itemtype="http://schema.org/Hospital">
                    <span itemprop="name"> Natural Clinic MD </span>
                </span>
            to be created.
        </p>

        <p>
            Medical Cannabis has beneficial benefits on the body. However Like any
            treatment, There are risks and benefits. As quality of life and symptom relief are
            critical, Dr. Patel will offer a 
            
            <a href="/get-info">
                <b>FREE TELEPHONIC CONSULTATION</b>
            </a>   
            to see if you
            would qualify for Medical cannabis under the state current Law.
        </p>

        <p>
            It is our goal to provide quality medical care to patients with end stage cancer,
            Parkinson’s diseases, Multiple Sclerosis, Post traumatic Stress Disorder and
            other chronic debilitating conditions. Please visit our website for more
            information on how we can best serve you and your family.
        </p>
    </div>

</div>